/* Genérico para las 3 páginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header{
    background-color: black;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
    .nav{
        display: flex;
        align-items: center;        
    }

        a:link, a:visited, a:active {
            text-decoration:none;
            color: white;
            padding-left: 200px;
            padding-right: 200px;
            font-size: 1.5em;
        }


/* HOME */

.main-home{
    width: 100vw;
    height: 94vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
    .contenedor-home{
        width: 80%;
        height: 80%;
        display: flex;
        gap: 100px;
    }

.texto-home{
    font-size: 1.5em;
    margin-left: 5vw;
}

    article h1{
        font-size: 2.7em;
        margin-bottom: 1em;
    }

    article p  {
        margin-bottom: 1em;
    }

/* GALERIA */

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
}

    .contenedor-galeria img{
        width: 33.33%;
    }

/* BLOG */

.article-blog{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

    .article-blog h1{
 
        text-align: center;
        font-size: 3em;
    }

.blog-section{
   
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}
    .blog-section img{
        width: 50vw;
    }

.contenedor-blog{

    text-align: center;
    width: 40%;
    font-size: 1.3em;

}