*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
 
}


.grid-container--ext{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "body";
    align-items: center;
    /* justify-content: center; */
    /* padding: 0 1rem */
    background-color: #8abbb5;
    overflow-x: hidden;
}
  
.grid-container{
    padding: 2% 0;
    grid-area: body;
    display: grid;
    grid-template-areas: "sc"  "gb"  "bt";
    gap: clamp(0.3vh, 4vh, 8vh) 0;
    background-color: #8abbb5;
   
    
    
}

.scoreBoard{
    grid-area: sc;
    
    display: grid;
    grid-template-areas: "tot p1 tie p2";
}

.shake{
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

.score--tot{
    grid-area: tot;
}
.score--p1{
    grid-area: p1;
}
.score--tie{
    grid-area: tie;
}
.score--p2{
    grid-area: p2;
}

.score{
    text-align: center;
    /* padding: 0.5rem; */
    border-right: 1px solid rgb(71, 124, 122);
}

.score h2,
.score span{
    color: #184D47
}

.score span{
    font-size: 64px;
}


.gameBoard{
    grid-area: gb;
    aspect-ratio: 1/1; /* siempre sea cuadrada */
    width: 100%; 
    
    display:grid;
    grid-template-columns: [x0] 0.5fr [x1] 2fr[x2] 2fr[x3] 2fr [x4] 0.5fr [x5];
    grid-template-rows:  [y0] 0.5fr [y1] 2fr[y2] 2fr[y3] 2fr [y4] 0.5fr[y5];
  
    gap:3px
}

.colIndex__A{
    grid-column: x1/x2;
    grid-row: y0/y1;
}
.colIndex__B{
    grid-column: x2/x3;
    grid-row: y0/y1;
}
.colIndex__C{
    grid-column: x3/x4;
    grid-row: y0/y1;
}
.rowIndex__1{
    grid-column: x0/x1;
    grid-row: y1/y2;
}
.rowIndex__2{
    grid-column: x0/x1;
    grid-row: y2/y3;
}
.rowIndex__3{
    grid-column: x0/x1;
    grid-row: y3/y4;
}


.rowIndex {
    width: 0.2fr;
}

.rowIndex,
.colIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color:#000000;
    opacity: 0.5;
    
    
}

.a1{
    grid-column: x1/x2;
    grid-row: y1/y2;
}
.b1{
    grid-column: x2/x3;
    grid-row: y1/y2;
}
.c1{
    grid-column: x3/x4;
    grid-row: y1/y2;
}
.a2{
    grid-column: x1/x2;
    grid-row: y2/y3;
}
.b2{
    grid-column: x2/x3;
    grid-row: y2/y3;
}
.c2{
    grid-column: x3/x4;
    grid-row: y2/y3;
}
.a3{
    grid-column: x1/x2;
    grid-row: y3/y4;
}
.b3{
    grid-column: x2/x3;
    grid-row: y3/y4;
}
.c3{
    grid-column: x3/x4;
    grid-row: y3/y4;
}

.box{
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    background-color: #fdf0d2;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(0,0,0, 0.3);
   
}

.box:hover{
    background-color: #e2d5b6;
}


.checkBox{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    
}

.fa-xmark{
    color: #184D47;
    font-size: 72px;
}

.fa-circle{
    color: #C64756;
    font-size: 64px;
}

.buttons{
    grid-area: bt;
    
    min-height: 10vh;
    height: 20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.startGame,
.resetScore{
    width: 100%;
    height: 40%;
}

.endGame{
    position:absolute;
    z-index:-1;
    display: none;
    width: 100vw;
    height: 100vh;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.36);
   
    flex-direction: column;
    justify-content: flex-start;

}

.endGame__container{
    height: 30%;
    padding: 30px;
    justify-content:center
}

.endGame__container--up{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.endGame__container--up button{
    border: none;
    outline: none;
    background-color: none;
    background: none;
    font-size: 48px;
    padding-right: 5px
}

.endGame__container--low{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.endGame__container h2{
    font-size: 32px;
    margin-bottom: 60px;
    
    
}

.endGame__container p{
    font-size: 20px;
    margin-top: 10px
}

.endGame__container i:hover{
    color:#1e635b
}

.activePlayer{
    
    transition: all 0.5s ease;
     
}
#score--p2{
    border:none
}

.activePlayer h2{
    animation: 
        /* 0.5s ease shake, */
        2s ease pop infinite;
   
}

.footer__button{
    border:none;
    outline: none;
    background-color: #527773;
    color:#FAD586;
    font-size: 32px;
    font-weight: 600;
    transition: all 0.2s ease;
}
.footer__button:hover{
    
    background-color: #1e635b;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.432);
    color:#f3d9a1;
 
}

.disabled{
    background-color: #e2d5b6;
    border-radius: 8px;
}


@keyframes pop {
    0% {transform: scale(1); color: #dd3a4d}
    15% {transform: scale(0.98);}
    40% {transform: scale(1.2); }
    50% {transform: scale(0.98); color:#80222d;}
    60% {transform: scale(1.2); }
    85% {transform: scale(0.98); }
   100% {transform: scale(1); color:#C64756;}
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* estilos_popup.css 
.popup {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .popup h2 {
    color: #333;
  }
  
  .popup button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #801076;
  }

*/

@media(min-width:721px){
    
    .grid-container--ext{
        justify-content: center;

        grid-template-areas: ". body .";
        background-color: #527773;
       

    }
    .grid-container{
        min-width: 70vh;
        gap: 2vh 0;
        padding: 20px;
        justify-self: center;

            box-shadow: 0 0 20px 10px rgba(0,0,0, 0.3);
            border-radius: 10px;
        
    }

    .buttons{
        flex-direction: row;
        max-height: 10vh;
    }

    .startGame,
    .resetScore{
    width: 45%;
    height: 100%;
    border-radius: 10px;
}
    .endGame{
    /* padding: 30px; */
    width: 70vw;
    height: 100vh;
    border-radius: 20px;
}

    .endGame__container--up{
        
        justify-content: flex-end;
        
    }
    .endGame__container h2{
    font-size: 64px;
    margin-bottom: 60px;
    
    
}

.endGame__container p{
    font-size: 48px;
    margin-top: 10px
}
}

@media(min-height: 875px){

}

